.content-bg {
  background-image: url("../../../Images/Model2.jpg");
  width: 100%;
  height: 60vh;
  background-position: center center;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 15px;
  background-color: #fce0d4;
}